/* 
  Brutal Gum Theme for Obsidian - V2
  Compiled from SCSS
  Inspired by Gumroad's brutalist design
*/

/* Style Settings 备选 */

/* 1. 图片是否自带边缘 */
/* 2. 是否覆盖主题色（Accent color） */
/* 3. 多彩标题 */
/* 4. 双栏属性？ */

/* 插件适配 */
/* NTB */
/* NN */

// Import all SCSS modules
@use 'base';
@use 'components/obsidian';

// Additional custom styles can be added here
// This file will be compiled to theme.css